employer index page
<br>
<br>
<a href="#/employer/activity/">Employer activity</a>
<br>
<a href="#/employer/create/ad/">Create a new Job Ad</a>
<br>
<a href="#/employer/edit/profile/">Edit employer profile</a>
<br>
<a href="#/employer/message/worker/">Message worker</a>
<br>
<a href="#/employer/view/ad/">View ad detail</a>
<br>
<a href="#/employer/view/ads/">View list of ads</a>
<br>
<a href="#/employer/view/message/">view message</a>
<br>
<a href="#/employer/view/profile/">view employer profile</a>
<br>
<a href="#/employer/view/worker/profile/">view worker profileo</a>
<br>
<a href="#/employer/view/workers/">view list of workers</a>
