<p>this is my login page</p>
<p>looking for 20 CS students to help me build this site</p>


<pre>
Create new Employer account
Create new Worker account
Authentication page


Employer landing page
    View job ads (list, sort options: deadline, missing workers, completed)
        View job ad detail (employer view incl performance ie # workers assigned + list of workers)
            Edit job ad detail
            View job instance (employer view)

    My activity
        See message + respond + employ
            (see worker profile + job requirements + employ, or put this in above)

    Create job ad
        See relevant worker list
            (see worker profile + message button)
                Message worker (select ad title as subject line)

    View employer account
        edit employer account


Worker landing page
    Browse job ads (list): categories
        See job ads Category A
            See job ad detail (worker view)
                Message employer
        See job ads Category B etc

    My activity
        See message list
            See message + respond
        See job list
            View job instance (worker view)
            Review employer

    View worker account
        edit worker account




Review worker and review employer not now


</pre>