Worker index page
<br>
<br>
<a href="#/worker/activity/">Worker activity</a>
<br>
<a href="#/worker/edit/profile/">Edit worker profile</a>
<br>
<a href="#/worker/message/employer/">Message employer</a>
<br>
<a href="#/worker/view/ad/">View ad detail</a>
<br>
<a href="#/worker/view/ads/">View ads</a>
<br>
<a href="#/worker/view/categories/">View ad categories</a>
<br>
<a href="#/worker/myjobs/">view my jobs</a>
<br>
<a href="#/worker/mymessages/">view my messages</a>
<br>
<a href="#/worker/view/profile/">View worker profile</a>
